name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        node: [ '16', '12' ]
    name: Node ${{ matrix.node }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: install dependencies
        run: yarn
      - name: run tests
        run: yarn test
